

.dev-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding-top: 50px; /* Reduced padding to make the page shorter */
    flex: 1; /* Allow the container to grow and fill available space */
}

.dev-info-image img {
    border-radius: 50%;
    max-width: 200px; /* Reduced max-width to make the image smaller */
    max-height: 300px; /* Reduced max-height to make the image smaller */
    border: 5px solid #ffc0cb; /* Pink border for extra cuteness */
    margin-bottom: 20px; /* Margin at the bottom for spacing */
}



.cute-heading {
    color: #ff69b4; /* Pink color for heading */
    font-size: 22px; /* Reduced font size */
    margin-bottom: 10px;
    text-align:center; /* Added margin to space the heading */
}

.cute-paragraph {
    color: #333;
    font-size: 16px; /* Reduced font size */
    font-style: italic;
}

.dev-info-text {
    max-width: 600px; /* Reduced max-width to make the text container smaller */
    text-align: center; /* Center align the text */
    padding: 0 20px; /* Added padding for spacing */
    padding-left: 20px;
}

@media (min-width: 768px) {
    .dev-info-container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding-top: 100px; /* Adjusted padding for larger screens */
    }

    .dev-info-image img {
        margin-bottom: 0;
        margin-right: 50px; /* Margin to the right for spacing */
    }

    .dev-info-text {
        text-align: right; /* Align text to the left for larger screens */
    }
}



