/* OrderSuccessPage.css */

.order-success-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-color: #f7c4d6; /* Light pink */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 550px;
  }
  
  .order-success-title {
    padding-top: 150px;
    font-size: 24px;
    color: #ef69ac; /* Pink */
    margin-bottom: 20px;
  }
  
  .order-details {
    margin-bottom: 20px;
  }
  
  .order-details p {
    margin-bottom: 10px;
  }
  
  .order-success-message {
    font-size: 16px;
    color: #666; /* Dark gray */
  }
  
  