/* Profile.css */

.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .section-title {
    margin-bottom: 20px;
  }
  
  .avatar-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .avatar-link {
    margin: 10px;
  }
  
  .avatar {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%; /* Make it round */
  }
  
  .personal-info-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-field {
    margin-bottom: 10px;
  }
  
  /* Profile.css */

  .avatar {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%; /* Make it round */
    transition: border-radius 0.3s ease; /* Smooth transition */
  }
  
  .avatar:hover {
    border-radius: 20%; /* Adjust the border radius on hover */
  }
  
  /* Profile.css */

   .profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background: linear-gradient(135deg, #FFC0CB, #ADD8E6); /* Light pink to light blue gradient */
  }
  