.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    height:550px;
    background: linear-gradient(135deg, #b3c1f7, #ffb6c1);
    border-radius: 10px;
}



.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.product {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.product img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.product h2 {
    color: #333333;
}

.price {
    color: #ff69b4;
    font-weight: bold;
}

button {
    background-color: #ff69b4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e48ba9;
    border-radius: 50% ;
}

.title {
    margin-bottom: 20px;
}

